<div style="padding: 1em 1em;">
  <h3>{{localize "YZECORIOLIS.RollVisibility"}}</h3>
  <select name="dialogRollMode" id="dialogRollModeId">
    <option value="public" {{#if_eq messageMode "public"}}selected{{/if_eq}}>
      {{localize "YZECORIOLIS.PublicRoll"}}
    </option>
    <option value="gm" {{#if_eq messageMode "gm"}}selected{{/if_eq}}>
      {{localize "YZECORIOLIS.PrivateGMRoll"}}
    </option>
    <option value="blind" {{#if_eq messageMode "blind"}}selected{{/if_eq}}>
      {{localize "YZECORIOLIS.BlindGMRoll"}}
    </option>
    <option value="self" {{#if_eq messageMode "self"}}selected{{/if_eq}}>
      {{localize "YZECORIOLIS.SelfRoll"}}
    </option> 
  </select>
</div>
